.app {
  background-color: blueviolet;
  width: 100%;
  min-height: 15vh;
  padding: 16px;
  border-radius: 15px;
  background: linear-gradient(to top left, #302f2f17, #1d1c1c2f);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3rem);
}
.currentTime,
.date,
.dayOPeriod,
.isLoading,
.dayOfTheWeek {
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.dayOfTheWeek {
  font-size: 60px;
}
.currentTime {
  font-size: 60px;
}

.date,
.isLoading {
  font-size: 25px;
}
